{% extends 'base.html.twig' %}

{% block title %}Index index{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/css/article_container.css') }}">
{% endblock %}
{% block body %}
    <div class="articles">
        {% for article in articles %}
            <div class="article-container view-mode">
                <h1>{{ article.titre }}</h1>
                <p>{{ article.description }}</p>
                <p>Par <span class="author-name">{{ article.pseudo }}</span>, dernière mise à jour <time class="last-updated">{{ article.updatedAt|time_ago  }}</time></p>
                <a href="{{ path('app_article_show', {'id': article.id}) }}" class="article-btn">Afficher</a>
                {# <a href="{{ path('app_article_edit', {'id': article.id}) }}" class="edit-article-btn">Editer</a> #}
            </div>
        {% else %}
        <div class="article-container view-mode">
            <p>Pas d'article</p>
        </div>
        {% endfor %}
    </div>
{% endblock %}
