{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
    <div>
    {% for article in articles %}
        <div class="article-container view-mode">
            <h1>{{ article.titre }}</h1>
            <p>{{ article.description }}</p>
            <p>Par <span class="author-name">{{ article.pseudo }}</span>, dernière mise à jour il y a <time class="last-updated">{{ article.updatedAt|time_ago  }}</time></p>
            <a href="{{ path('app_article_show', {'id': article.id}) }}" class="edit-article-btn">Afficher</a>
            <a href="{{ path('app_article_edit', {'id': article.id}) }}" class="edit-article-btn">Editer</a>
        </div>
    {% else %}
        <p>Pas de commentaire</p>
    {% endfor %}
    </div>


    <a href="{{ path('app_article_new') }}">Create new</a>
{% endblock %}
